# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.egg

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS generated
.DS_Store
Thumbs.db

# Project specific
data/raw_10k/*
!data/raw_10k/.gitkeep
qdrant_data/
claude_sessions/*
src/financial_10k_agent/.adk/session.db
edgar_filings
src/.adk/session.db
src/financial_10k_agent/financial_10k_agent/.adk/session.db
financial_10k_agent/.adk/session.db
uv.lock
